global
  log /dev/log local0
  maxconn 2000
  daemon

defaults
  log     global
  mode    tcp
  option  tcplog
  option  dontlognull
  timeout connect 10s
  timeout client  1m
  timeout server  1m

# Kubernetes API
frontend api
  bind *:6443
  default_backend api_servers

backend api_servers
  server master __MASTER_IP__:6443 check inter 5s fall 2 rise 1

# Machine Config Server (used during node join)
frontend machine_config
  bind *:22623
  default_backend mcs_servers

backend mcs_servers
  server master __MASTER_IP__:22623 check inter 5s fall 2 rise 1

# Ingress / apps
frontend ingress_http
  bind *:80
  default_backend ingress_http_servers

backend ingress_http_servers
  balance roundrobin
  server worker1 __WORKER1_IP__:80 check inter 5s fall 2 rise 1
  server worker2 __WORKER2_IP__:80 check inter 5s fall 2 rise 1

frontend ingress_https
  bind *:443
  default_backend ingress_https_servers

backend ingress_https_servers
  balance roundrobin
  server worker1 __WORKER1_IP__:443 check check-ssl verify none inter 5s fall 2 rise 1
  server worker2 __WORKER2_IP__:443 check check-ssl verify none inter 5s fall 2 rise 1
